.divider {
    border: none;
    border-top: 0.5px solid #ccc;
    margin-top: 20px;
    margin-bottom: 25px;
    width: 100%;
  }

  .viewButton{
    border: none;
    font-size: 0.75rem;
  }

  .details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }